<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS (flatly from bootswatch)-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block css %} {% endblock %}

    <title>{% block title %}PIMS Proteomics LIMS{% endblock %}</title>
  </head>
  <body>
    <div id="maincontent" class="container">
      <div class="row">
          <div class="col-md-2">
            <div class="d-grid gap-2  pb-2">
              <img src="{{ url_for('static', filename='images/pims_logo_path_notext.svg') }}"  width=60% style="margin-left: auto; margin-right: auto;">
            </div>
            <div class="d-grid gap-2">
              <a href="{{ url_for('index')}}" class="btn btn-primary" role="button">Home</a>
              <a href="{{ url_for('search')}}" class="btn btn-primary" role="button">Search</a>
              {% if person['is_admin'] %}
              <a href="{{ url_for('editproject')}}" class="btn btn-warning mt-3" role="buttoon">New Project</a>
              <a href="{{ url_for('reports')}}"  class="btn btn-warning mb-3" role="button">Reports</a>
              {% endif %}
              <a href="{{ url_for('account')}}"  class="btn btn-primary" role="button">Account</a>
              <button class="btn btn-danger" id="logout">Log Out</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row text-center">
              <h2>PIMS Proteomics LIMS System</h2>
            </div>
      
            {% block content %}{% endblock %}
          </div>
        </div>
        <div id="footer" class="row">
          <div class="col-md-12">
            <img src="{{ url_for('static', filename='images/bioinformatics_logo.svg') }}" width="100px"> <a href="https://github.com/s-andrews/pims">PIMS Proteomics LIMS</a> - Please report any problems to our <a href="https://github.com/s-andrews/pims/issues">bug database</a>
          </div>
        </div>
      
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- JQuery which we're still using even if bootstrap doesn't need it any more -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
 

    <!-- JSCookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>