#footer {
    color: black;
    background-color: lightgray;
    padding: 1em;
    margin-top: 2em;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}


h2 {
    padding-top: 1em;
}

.proposed {
    background-color: gray;
    color: white;
    padding: 0.3em;
    border-radius: 5%;
}